  <nav class="navbar navbar-expand navbar-dark bg-dark" aria-label="Second navbar example">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">EventBriteDuPauvre</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample02">
        <ul class="navbar-nav me-auto">
          <% if user_signed_in? %>
          <li class="nav-item mx-2">
            <%= link_to "Home", events_path %>
          </li>
          <li class="nav-item mx-2">
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
          </li>
          <li class="nav-item mx-2">
            <%= link_to "My Profile", edit_user_registration_path %>
          </li>
          <% else %>
          <li class="nav-item mx-2">
            <%= link_to "Home", events_path %>
          </li>
          <li class="nav-item mx-2">
            <%= link_to "Sign Up", new_user_registration_path %>
          </li>
          <li class="nav-item mx-2">
            <%= link_to "Log In", new_user_session_path %>
          </li>
          <% end %>
          <li class="nav-items mx-2">
            <%= link_to "New Event", new_event_path %>
          </li>
        </ul>
      </div>

    </div>
  </nav>
